<!DOCTYPE html>
<html>
  <head>
    <title>Bookmarks</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <ul>
      <% @bookmarks.each do |bookmark| %>
        <li class="bookmark" id="bookmark-<%= bookmark.id %>">
          <a href="<%= bookmark.url %>" target="_blank">
            <%= bookmark.title %>
          </a>
          <form action='/bookmarks/<%= bookmark.id %>' method="post">
            <input type="hidden" name="_method" value="DELETE">
            <input type="submit" value="Delete">
          </form>
          <form action='/bookmarks/<%= bookmark.id %>/edit' method="get">
            <input type="submit" value="Edit">
          </form>
          </br>
        </li>
      <% end %>
    </ul>
    <a href='/bookmarks/new'>Create bookmark</a></br>
  </body>
</html>
